#image{
    max-width: 100%;
    height: auto;
}
img{
    display: block;
    float: left;
}
#img-div{
    text-align: center;
}
#title{
    text-align: center;
}
body{
    background-image: url('https://images.wallpaperscraft.com/image/single/background_color_abstraction_271426_300x168.jpg');
}
#img-caption{
    font-weight: bold;
    position: static;
}
#tribute-info{
    font-style: italic;
    width: 600px;
    float: right;
    font-size: large; 
}
  
  a:hover {
    color: black;
    background-color: transparent;
    font-size: xx-large;
  }
  a{
    color:red;
    background-color: transparent;
    font-size: x-large;
  }
  
